
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

/* CSS Variables */
:root {
    --primary-font: 'Inter', sans-serif;
    --heading-font: 'Macondo', cursive;
    --primary-color: #416a8e; /* blue */
}
/* Global Styles */
body {
    font-family: var(--primary-font);
}
h1,
h2,
h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
