
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

/* CSS Variables */
:root {
    --primary-font: 'Inter', sans-serif;
    --heading-font: 'Macondo', cursive;
    --primary-color: #3a2620; /* dark brown */
    --secondary-color: #aa9581; /* light brown */
    --highlight-color: #416a8e; /* darker blue */
    --light-color: #7a9fc2; /* light blue */
}

/* Global Styles */
body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

/* Target Subheading color */
.sub-heading-color {
    color: var(--highlight-color);
}
