/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #3a2620; /* dark brown */
    --secondary-color: #aa9581; /* light brown */
    --highlight-color: #416a8e; /* blue */
    --highlight-color-light: #7a9fc2; /* light blue */
}

/* Global styles */

body {
    font-family: var(--primary-font);
    padding-top: 57.15px; /* Adjust for fixed navbar height */
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h1,
h2 {
    text-transform: uppercase;
}



h2 {
    margin-bottom: 2rem;
}

.sub-heading-color {
    color: var(--highlight-color);
}

.section {
    padding-top: 4rem;
}
/* Buttons */
.custom-button-filled {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: white;
}

.custom-button-filled:hover {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
}

.custom-button-outline {
    border: 3px solid var(--highlight-color);
    padding: 7px 25px;
    color: var(--highlight-color)
}

.custom-button-outline:hover {
    background-color: var(--highlight-color);
    color: white
}



/* Navbar */

#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 30px;
}

/* Header */

#header .lead {
    font-family: var(--secondary-font);
}

/* Services Section */
#services .card-footer {
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
}

#services .card {
    margin-bottom: 1.5rem;
}

/* Events Section */
    /* Remove border from event cards */
#events .card {
    border: none;
}
    /* Discount text */
#discount {
    color: white;
    background-color: var(--highlight-color);
    padding: 5px 10px;
}

/* Game library cards */
#new-games .card,
#fav-games .card {
    border: none;
}

/* Reservation Section */
#reservation-form h2 {
    display: flex;
    justify-content: center;
}



    /* Submit button styles */
#sub {
    display: flex;
    flex-direction: row;
    justify-content:end;
}


/* Footer / Contact Section */
#contact {
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 3rem;
}
#contact h2 {
    color: white;
}
#contact .sub-heading-color {
    color: var(--highlight-color-light);
}
#contact i {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 15px;
}
#contact .social-links i {
    color: var(--highlight-color-light);
    font-size: 1.9rem;
    transition: color 0.3s ease-in-out;
}
#contact .social-links i:hover {
    color: var(--secondary-color);
}
/* Table styles */
#contact .table-dark * {
    background-color: transparent;
}


/* Media queries */
/* Medium devices (mobile, 320px and up) */
@media screen and (min-width: 320px) {
    /* Make all service cards the same height for consistency */
    #events .table {
        font-size: .75rem;
        max-width: 100%;
        flex-shrink: 1;
    }
    
}

/* Media queries */
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    /* Make all service cards the same height for consistency */
    #services .card-body {
        min-height: 191px;
    }
     /* Reserve a game form width adjustment */
}

/* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {
    /* Make all service cards the same height for consistency */
    #services .card-body {
        min-height: auto;
    }
     
    
}

/* Xl devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    /* Make all service cards the same height for consistency */
    #services .card-body {
        min-height: 220px;
    }
    /* Adjust discount card position */
    #discount {
        margin-left: 750px;
    }
}

/* Xxl devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {
    /* Make all service cards the same height for consistency */
    #services .card-body {
        min-height: 195px;
    }

}